Ansible Advanced - Hands-On - DevOps/ansible-advanced-exercises/sftp-config.json
Ansible for the Absolute Beginner - Hands-On - DevOps/ansible-demos-exercises/sftp-config.json
Ansible for the Absolute Beginner - Hands-On - DevOps/ansible-lamp-exercise/sftp-config.json
sftp-config.json
sftp-config-alt.json
